<!DOCTYPE html>
<html>
    <head>
        <title>Jagannath Srinivasan | Personal Website</title>
        <link rel='stylesheet' href='/stylesheets/index.css' />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div id="intro">
            <div id="intro_top">
                <div id="intro_img">
                    <img src='https://avatars3.githubusercontent.com/u/8244246?v=3&s=460'>
                </div>
                <div id="intro_name">
                    Jagannath Srinivasan
                </div>
                <div id="intro_desc">
                    UI/UX Designer and Full-Stack Web Developer
                </div>
            </div>
            <div id="intro_bottom">
                Enter Site
            </div>
        </div>

        <header class="shadow-light-bottom main">
            <div id='brand'>
                <img src='/images/mini_icon2.png'>
                <h2>Jagan Srini</h2>
            </div>
            <nav id='navlinks'>
                <ul>
                    <!-- <li id="nav_about" class="menu-item"><span class="nav-highlight">.</span>About</li> -->
                    <li id="nav_projects" class="menu-item"><span class="nav-highlight">.</span>Projects</li>
                    <li id="nav_resume" class="menu-item"><span class="nav-highlight">.</span>Resume</li>
                    <!-- <li id="nav_blog" class="menu-item"><span class="nav-highlight">.</span>Blog</li> -->
                    <li id="menu_toggle" onclick="toggle_menu()">☰</li>
                </ul>
            </nav>
        </header>
        <div id="subheader">
            <ul>
                <!-- <li id="nav_about" class="menu-item">About</li> -->
                <li id="nav_projects" class="menu-item">Projects</li>
                <li id="nav_resume" class="menu-item">Resume</li>
                <!-- <li id="nav_blog" class="menu-item">Blog</li> -->
            </ul>
        </div>

        <div id="container" class="main">
            <div id="load-error" style="display:none;" class="shadow-light-bottom">
                <h3>Content failed to load.</h3>
                <h4>Please try again later.</h4>
            </div>
            <div id="filter_bar" style="display:none;" class="shadow-light-bottom"></div>
            <div id="content"></div>
            
        </div>

        <footer class="shadow-light-top main">
            <span><em>&copy; Jagannath Srinivasan 2016</em></span>
          &#8226;
            <span id="contact_link" class="link" onclick="location.href='mailto:jagan@jsrini.com'">Contact Me</span>
        </footer>

        <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="/js/index.js"></script>
        <script src="/js/filters.js"></script>
        <script src="/js/home.js"></script>
        <script src="/js/projects.js"></script>
        <script src="/js/resume.js"></script>
        <script src="/js/blog.js"></script>
        <script src="/js/jquery.scrollify.min.js"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-84641007-1', 'auto');
          ga('send', 'pageview');

        </script>

    </body>
</html>