<div class="pdf-viewer">
	<object data="/pdf/JagannathSrinivasan.pdf" type="application/pdf" width="100%" height="100%">
	   <p>This browser does not support PDFs. Please download the PDF to view it: <a href="/pdf/JagannathSrinivasan.pdf">Download PDF</a>.</p>
	</object>
</div>